body
{
	background-image: none;
}


@media (min-width: 992px) {
	body{
		text-indent: 100%;
    	white-space: nowrap;
    	overflow: hidden;
		background-image: url('omfgdogs.gif');
		color: Black;
	}
}


h1
{
	text-indent: 80%;
	margin-bottom: 5px
	font-size: 50px;
	font-weight: bold;
	color: black;
}

