body
{
	background-image: none;
}

a 
{
	text-align: right;
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 7%;
	width: 100%;
	opacity: 0.0;
	color: Black;
}
@media (min-width: 992px) {
	body{
		background-image: url('omfgdogs.gif');
	}
    p {
    	opacity: 0.0;
    }
    a {
    	opacity: 1.0;
    }
}
